<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator Manifestów</title>
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="centered">
        <h1>Generator Manifestów</h1>
    </div>
    <div class="midblock">
        <p>
            Generator manifestów jest projektem autorstwa <a href="https://asie.pl">Adriana Siekierki</a> i
            <a href="https://dragonic.eu">Ryszarda Knopa</a> w ramach Inteligentnego Wyszukiwania Informacji
            na studiach II stopnia informatyki na <a href="https://eti.pg.edu.pl/">Wydziale Elektroniki,
            Telekomunikacji i Informatyki Politechniki Gdańskiej</a>. Wykonano na życzenie
            <a href="https://www.asp.gda.pl/">Akademii Sztuk Pięknych w Gdańsku</a>.
        </p>
        <p>
            Źródła serwisu dostępne są <a href="https://example.com">na GitHubie</a>. Projekt nie powstałby bez
            zewnętrznych bibliotek i słowników, autorom których to dziękujemy:
        </p>
        <ul>
            <li><a href="http://morfeusz.sgjp.pl/">Morfeusz 2</a> Instytutu Podstaw Informatyki PAN,</li>
            <li><a href="http://plwordnet.pwr.wroc.pl/">plWordNet</a> Politechniki Wrocławskiej,</li>
            <li><a href="https://flask.palletsprojects.com/">Flask</a> projektu Pallets,</li>
            <li>Języka <a href="https://www.python.org/">Python</a>.</li>
        </ul>
    </div>
    <div class="centered">
        <footer><a href="/">Wróc do generatora</a></footer>
    </div>
</body>
</html>
