<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator Manifestów</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="centered">
        <h1>{{ text }}</h1>
        <footer><a href="{{ url_for('index') }}">Jeszcze raz!</a> - <a href="{{ url_for('about') }}">O projekcie...</a></footer>
    </div>
</body>
</html>
